header {
  display: flex;
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
  border-bottom: 1px solid black;
  align-items: center;
}

.logo {
  display: inline-flex;
}

nav ul li {
  list-style: none;
  display: flex;
  text-decoration: underline;
  justify-content: flex-end;
}

h1 {
  color: MediumAquamarine;
}
