header {
  display: flex;
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
  border-bottom: 1px solid black;
  align-content: : center;
  justify-content: space-between;
  padding-bottom: 10px;
}

.logo {
  align-items: center;
  margin: 0px 10px;
}

p {
  display: inline-block;
  color: MediumAquamarine;
}

.title {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
}

.pages li {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  display: inline-block;
  text-decoration: underline;
  margin: 10px 10px;
}
